{% extends "base.html" %}


{% block content %}
    <div class="">
        <div class="">
            {% if validlink %}
                <form
                    action="{{ request.path }}"
                    method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save New Password</button>
                </form>
            {% else %}
                <p>This reset link is no longer valid.</p>
                <p>Please request a new reset email <a href="{% url 'dj-auth:pw_reset_start' %}">here</a>.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
