{% extends "base.html" %}
{% load static from staticfiles %}

{% block fullcontent %}
<div class="content replay-listing">
<div class="container-fluid">
<div class="row">
	{% for replay in replays %}
	<div class="col-xs-3">
		<!-- hsreplay-negative, hsreplay-positive, hsreplay-invalid -->
		<a href="{{ replay.get_absolute_url }}" class="hsreplay-thumbnail hsreplay-positive">
			<div class="hsreplay-involved">
				<figure class="winner">
					<img src="{% static 'web/images/hunter.jpg' %}" alt="Rexxar"/>
					<figcaption>{{ replay.player_one_name }}</figcaption>
				</figure><img src="{% static 'web/images/vs.png' %}" class="hsreplay-versus"/><figure class="loser">
					<img src="{% static 'web/images/paladin.jpg' %}" alt="Uther the Lightbringer"/>
					<figcaption>{{ replay.player_two_name }}</figcaption>
				</figure>
			</div>
			<div class="hsreplay-details">
				<dl>
					<dt>Date</dt>
					<dd>{{ replay.global_game.match_start_timestamp }}</dd>
					<dt>Duration</dt>
					<dd>{{ replay.global_game.match_end_timestamp }}</dd>
					<dt>Turns</dt>
					<dd>{{ replay.global_game.num_turns }} turns</dd>
				</dl><div>
					<!--<img src="assets/brm.png" class="hsreplay-type" title="Blackrock Mountain">
					<img src="assets/dc.png" class="hsreplay-type" title="Disconnected">
					<img src="assets/loe.png" class="hsreplay-type" title="League of Explorers">
					<img src="assets/rank14.png" class="hsreplay-type" title="Rank 14">
					<img src="assets/arena8.png" class="hsreplay-type" title="Arena">
					<img src="assets/naxx.png" class="hsreplay-type" title="Curse of Naxxramas">
					<img src="assets/brawl.png" class="hsreplay-type" title="Brawl"> -->
				</div>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
</div>
</div>
{% endblock %}
