{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<link href="/static/joust/joust.css" rel="stylesheet">
<script src="/static/joust/bundle.js"></script>

<a href="{{ replay_data_url }}">Raw Replay File</a>
<div id="container"></div>

<script>
    $(document).ready(function() {

        var cb = function (buildNumber, cb) {

            console.log(buildNumber);

            var bn = buildNumber;

            if(typeof buildNumber === 'undefined') {
                bn = 'latest';
            }

            $.ajax('https://api.hearthstonejson.com/v1/' + bn + '/enUS/cards.json', {
                type: 'GET',
                dataType: 'json',
                success: cb
            });

        }

        Joust.viewer('container').height(800).width(1000).metadata(cb).assets('{% static 'joust/assets/' %}').fromUrl('{{ replay_data_url }}');
    });
</script>



{% endblock content %}