{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<link href="http://hsreplay.net/static/joust/joust.css" rel="stylesheet">
<script src="http://hsreplay.net/static/joust/bundle.js"></script>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ replay_data_url }}">Raw Replay File</a>
        </div>
    </div>
    <div id="tabletop" class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div id="container"></div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>

<script>
    $(document).ready(function() {

        var cb = function (buildNumber, cb) {

            console.log(buildNumber);

            var bn = buildNumber;

            if(typeof buildNumber === 'undefined') {
                bn = 'latest';
            }

            $.ajax('https://api.hearthstonejson.com/v1/' + bn + '/enUS/cards.json', {
                type: 'GET',
                dataType: 'json',
                success: cb
            });

        }

        Joust.viewer('container').height(600).metadata(cb).assets('http://hsreplay.net/static/joust/assets/').fromUrl('{{ replay_data_url }}');
    });
</script>



{% endblock content %}