{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<link href="http://hsreplay.net/static/joust/joust.css" rel="stylesheet">
<script src="http://hsreplay.net/static/joust/bundle.js"></script>



<div id="tabletop" class="row">

    <div class="col-lg-offset-2 col-lg-8 col-xs-12 full_height">
        <div id="joust-container" class="full_height"></div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <a href="{{ replay_data_url }}">Raw Replay File</a>
    </div>
</div>


<script>
    $(document).ready(function() {

        var cb = function (buildNumber, cb) {

            var bn = buildNumber;
            var store = null;

            if(typeof buildNumber === 'undefined') {
                bn = 'latest';
            } else {


                store = 'joust-' + bn;

                if (typeof(Storage) !== "undefined") {
                    if (typeof localStorage[store] === "string") {
                        var result = JSON.parse(localStorage[store]);
                        if (typeof result === "object") {
                            console.debug("Loaded card data from local storage (" + result.length + " cards)");
                            cb(result);
                            return;
                        }
                    }
                    if (typeof localStorage[store] !== "undefined") {
                        console.warn("Removing invalid card data in local storage");
                        localStorage.removeItem(store);
                    }
                }
            }

            $.ajax('https://api.hearthstonejson.com/v1/' + bn + '/enUS/cards.json', {
                type: 'GET',
                dataType: 'text',
                success: function(result) {

                    if (store != null && typeof(Storage) !== "undefined") {
                        localStorage.setItem(store, result);
                        console.debug("Card data saved to local storage");
                    }

                    cb(JSON.parse(result));
                }
            });

        }

        Joust.viewer('joust-container')
            .metadata(cb)
            .assets("//static.hsreplay.net/static/joust/assets/")
            .textures("//static.hsreplay.net/static/joust/textures/")
            .fromUrl('{{ replay_data_url }}');

    });
</script>



{% endblock content %}
