{% extends "base.html" %}
{% load static from staticfiles %}
{% load web_extras %}

{% block fullcontent %}
<div class="content replay-listing">
<div class="container-fluid">
{% if replays %}
<div class="row">
	{% for replay in replays %}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<!-- hsreplay-negative, hsreplay-positive, hsreplay-invalid -->
		<a href="{{ replay.get_absolute_url }}" class="hsreplay-thumbnail {{ replay.css_classes }}">
			<div class="hsreplay-involved">
				{% spaceless %}
				<img src="{% static 'web/images/vs.png' %}" class="hsreplay-versus"/>
				{% for player in replay.global_game.players.all %}
				<figure class="{% if player.won %}winner{% else %}loser{% endif %}">
					<img src="//static.hsreplay.net/static/joust/card-art/{{ player.hero_id }}.jpg" alt="{{ player.hero_id }}"/>
					<figcaption>{{ player.name }}</figcaption>
				</figure>
				{% endfor %}
				{% endspaceless %}
			</div>
			<div class="hsreplay-details">
				<dl>
					<dt>Played</dt>
					<dd title="{{ replay.global_game.match_start_timestamp }}">{{ replay.global_game.match_start_timestamp|human_time }}</dd>
					<dt>Duration</dt>
					<dd>{{ replay.global_game.duration|human_duration }}</dd>
					<dt>Turns</dt>
					<dd>{{ replay.global_game.num_turns }} turns</dd>
				</dl><div>
					{% if replay.disconnected %}
						<img src="{% static 'web/images/dc.png' %}" class="hsreplay-type" title="Disconnected">
					{% elif replay.global_game.is_tavern_brawl %}
						<img src="{% static 'web/images/brawl.png' %}" class="hsreplay-type" title="Tavern Brawl">
					{% endif %}
					<!--<img src="assets/brm.png" class="hsreplay-type" title="Blackrock Mountain">
					<img src="assets/loe.png" class="hsreplay-type" title="League of Explorers">
					<img src="assets/rank14.png" class="hsreplay-type" title="Rank 14">
					<img src="assets/arena8.png" class="hsreplay-type" title="Arena">
					<img src="assets/naxx.png" class="hsreplay-type" title="Curse of Naxxramas">
					-->
				</div>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{% else %}
	<div class="text-center">
		<h1>Play a few games!</h1>
		<p>Your replays will appear here once you've uploaded them using Hearthstone Deck Tracker.</p>
		<p><a href="https://hsdecktracker.net/" class="promo-button">Download HDT</a></p>
	</div>
{% endif %}
</div>
</div>
{% endblock %}
