{% extends "base.html" %}
{% load static from staticfiles %}
{% load web_extras %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% joust_static 'joust.css' %}"/>

	{% comment %} The following shim fixes card texture clipping in Firefox.
	See bug: https://news.ycombinator.com/item?id=10316872 {% endcomment %}
	<style type="text/css">
		{% include "games/svg-paths-shim.css" with svg="/static/web/svg-paths.svg" %}
	</style>

{% endblock stylesheets %}

{% block fullcontent %}
{% setting "JOUST_RAVEN_DSN_PUBLIC" as dsn %}

<div id="tabletop" class="container-fluid">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12">
			<h1>{{ replay }} - {{ replay.duration }}</h1>
		</div>
	</div>
	<div class="row full_height">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12 full_height">
			<div id="joust-container" class="full_height" data-replayurl="{{ replay.replay_xml.url }}"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12">
			<p><a href="{{ replay.replay_xml.url }}">Download replay</a></p>
		</div>
	</div>
</div>

{% if dsn %}
	<script src="https://cdn.ravenjs.com/3.0.5/raven.min.js"></script>
	<script>
		Raven.config("{{ dsn }}").install();
		Raven.setExtraContext({
			replay_xml_url: "{{ replay.replay_xml.url }}"
		});
		Raven.setTagsContext({
			hearthstone_build: "{{ replay.global_game.hearthstone_build }}"
		});
		{% if user.is_authenticated %}
			Raven.setUserContext({
				id: {{ user.id }},
				username: "{{ user.username }}"
			});
		{% endif %}
	</script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="{% static 'web/joust-extra.js' %}"></script>
<script src="{% joust_static 'joust.js' %}"></script>
<script>
	$(document).ready(function() {
		JoustExtra.setup({
			hearthstonejson: "{% setting "HEARTHSTONEJSON_URL" %}",
			logger: function (message, extra) {
				{% if dsn %}
					Raven && Raven.captureMessage(message, { level: "warning", extra: extra });
				{% endif %}
				console.warn(message);
			}
		});
		Joust.viewer("joust-container")
			.metadata(JoustExtra.metadata)
			.assets("{% joust_static 'assets/' %}")
			.cardArt("{% joust_static 'card-art/' %}")
			.logger(function(error) {
				{% if dsn %}Raven && Raven.captureException(error);{% endif %}
				var message = error.message ? error.message : error;
				console.error(message);
			})
			.fromUrl($("#joust-container").data("replayurl"));
	});
</script>
{% endblock fullcontent %}
