{% extends "base.html" %}
{% load static from staticfiles %}
{% load web_extras %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% joust_static 'joust.css' %}"/>
{% endblock stylesheets %}

{% block fullcontent %}

<h1>{{ replay }} - {{ replay.duration }}</h1>

<div id="tabletop" class="container-fluid">
	<div class="row full_height">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12 full_height">
			<div id="joust-container" class="full_height" data-replayurl="{{ replay.replay_xml.url }}"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12">
			<p><a href="{{ replay.replay_xml.url }}">Download replay</a></p>
		</div>
	</div>
</div>

<script src="{% joust_static 'bundle.js' %}"></script>
<script>
	$(document).ready(function() {
		var cb = function (buildNumber, cb) {
			var bn = buildNumber;
			var store = null;

			if(typeof buildNumber === "undefined") {
				bn = "latest";
			} else {
				store = "joust-" + bn;

				if (typeof(Storage) !== "undefined") {
					if (typeof localStorage[store] === "string") {
						var result = JSON.parse(localStorage[store]);
						if (typeof result === "object") {
							console.debug("Loaded card data from local storage (" + result.length + " cards)");
							cb(result);
							return;
						}
					}
					if (typeof localStorage[store] !== "undefined") {
						console.warn("Removing invalid card data in local storage");
						localStorage.removeItem(store);
					}
				}
			}

			$.ajax("{% hearthstonejson replay.global_game.hearthstone_build %}", {
				type: "GET",
				dataType: "text",
				success: function(result) {
					if (store != null && typeof(Storage) !== "undefined") {
						localStorage.setItem(store, result);
						console.debug("Card data saved to local storage");
					}

					cb(JSON.parse(result));
				}
			});
		};

		Joust.viewer("joust-container")
			.metadata(cb)
			.assets("{% joust_static 'assets/' %}")
			.cardArt("{% joust_static 'card-art/' %}")
			.fromUrl($("#joust-container").data("replayurl"));
	});
</script>
{% endblock fullcontent %}
