{% extends "base.html" %}
{% load static from staticfiles %}
{% load web_extras %}

{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% joust_static 'joust.css' %}"/>

	{% comment %} The following shim fixes card texture clipping in Firefox.
	See bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1075457 {% endcomment %}
	<style type="text/css">
		{% include "games/svg-paths-shim.css" with svg="/static/web/svg-paths.svg" %}
	</style>
{% endblock %}

{% block fullcontent %}
{% setting "JOUST_RAVEN_DSN_PUBLIC" as dsn %}
{% setting "JOUST_INFLUX_URL" as influx %}

<div id="tabletop" class="container-fluid">
	<div class="col-lg-offset-1 col-lg-10 col-xs-12">
		<h1>{{ replay }}</h1>
	</div>
	<div class="full_height">
		<div class="col-lg-offset-1 col-lg-10 col-xs-12 full_height">
			<div id="joust-container" class="full_height" data-replayurl="{{ replay.replay_xml.url }}"></div>
		</div>
	</div>
</div>

<div id="replay-details" class="container-fluid">
	<div class="col-lg-offset-1 col-lg-10 col-xs-12">
		<h2>Details</h2>
		{% with replay.global_game as gg %}
		<p>
			<ul>
				<li>Patch {{ gg.hearthstone_build }}</li>
				<li>{{ gg.num_turns }} turns, {{ gg.num_entities }} entities</li>
				<li>
					{{ gg.game_type.name }}
					{% if gg.ladder_season %}- Season {{ gg.ladder_season }}{% endif %}
				</li>
				<li><a href="{{ replay.replay_xml.url }}">Download replay</a></li>
			</ul>
		</p>
		<h3>Players</h3>
		<p>
		{% for player in gg.players.all %}
			<h4>{{ player }}{% if player.is_ai %} (AI){% endif %} ({{ player.final_state.name|title }})</h4>
			<ul>
				<li>{% if player.is_first %}First player{% else %}Second player{% endif %}</li>
				<li>Hero: {{ player.hero }}{% if player.hero_premium %} (Golden){% endif %}</li>
				<li>Deck: {{ player.deck_list }}</li>
				{% if player.rank %}
					<li>Rank {{ player.rank }}{% if player.stars %} {{ player.stars }} stars{% endif %}</li>
				{% elif player.legend_rank %}
					<li>Legend rank {{ player.legend_rank }}</li>
				{% endif %}
			</ul>
		{% endfor %}
		</p>
		{% endwith %}
	</div>
</div>

{% if dsn %}
	<script src="https://cdn.ravenjs.com/3.0.5/raven.min.js"></script>
	<script type="text/javascript">
		Raven.config("{{ dsn }}").install();
		Raven.setExtraContext({
			replay_xml_url: "{{ replay.replay_xml.url|safe }}",
		});
		Raven.setTagsContext({
			hearthstone_build: "{{ replay.global_game.hearthstone_build }}",
		});
		{% if user.is_authenticated %}
			Raven.setUserContext({
				id: {{ user.id }},
				username: "{{ user.username }}",
			});
		{% endif %}
	</script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
<script src="{% static 'web/joust-extra.js' %}"></script>
<script src="{% joust_static 'joust.js' %}"></script>
<script type="text/javascript">
	var j = function() {
		var events = [];
		JoustExtra.setup({
			hearthstonejson: "{% setting 'HEARTHSTONEJSON_URL' %}",
			logger: function (message, extra) {
				{% if dsn %}
					Raven && Raven.captureMessage(message, {level: "warning", extra: extra});
				{% endif %}
				console.warn(message);
			}
		});
		Joust.viewer("joust-container")
			.metadata(JoustExtra.metadata)
			.assets("{% joust_static 'assets/' %}")
			.cardArt("{% joust_static 'card-art/' %}")
			.logger(function(error) {
				{% if dsn %}Raven && Raven.captureException(error);{% endif %}
				var message = error.message ? error.message : error;
				console.error(message);
			})
			{% if influx %}
			.events(function(event, tags, values) {
				if(!event.type || !event.values.length) {
					return;
				}
				events.push({
					type: "joust_ " + event,
					tags: tags,
					values: values || [],
					timestamp: Date.now()
				});
			})
			{% endif %}
			.fromUrl($("#joust-container").data("replayurl"));

			{% if influx %}
				var consumeInflux = function() {
					if(events.length) {
						var oReq = new XMLHttpRequest();
						oReq.open("POST", "{{ influx|safe }}&precision=ms", true);
						var blob = new Blob([
							events.map(function (event) {
								var tags = [];
								for (var key1 in event.tags) {
									tags.push(key1 + "=" + event.tags[key1]);
								}
								var values = [];
								for (var key2 in event.values) {
									tags.push(key2 + "=" + event.tags[key2]);
								}
								var line = event.type + (tags.length ? "," + tags.join(",") : "") + " " + values.join(",") + " " + timestamp;
							}).join("\n")],
							{
								type: "text/plain",
							}
						);
						oReq.send(blob);
						events = [];
					}
				};
				window.setInterval(consumeInflux, 30 * 1000);
				$(window).on("beforeunload", consumeInflux);
			{% endif %}
	};

	{% if dsn %}
		if (Raven && Raven.wrap) {
			j = Raven.wrap(j);
		}
	{% endif %}

	$(document).ready(j);
</script>
{% endblock %}
