{% extends "base.html" %}
{% load static from staticfiles %}
{% load socialaccount %}
{% load web_extras %}

{% block stylesheets %}
	{{ block.super }}
	<link href="{% static 'web/home.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block description %}
	<meta name="description" content="Share your Hearthstone games using Hearthstone Deck Tracker."/>
{% endblock %}

{% block header %}
{% get_featured_game as featured_game %}
{% if featured_game %}
	<script type="text/javascript">
		{% include "joust_include.js" with featured_game=featured_game %}
	</script>
{% endif %}
{% endblock %}

{% block content %}
<div id="joust-lightbox">
	<div id="joust-promo-container"></div>
</div>
<div id="home">
	<header id="promo" class="promo">
		<div class="container">
			<img src="{% static 'web/images/logo.png' %}" id="logo" alt="HSReplay"/>
			<h1>HSReplay</h1>
			<p class="tagline">Share your Hearthstone games</p>
			{% if user.is_authenticated %}
				<p>
					<a href="{% url 'my_replays' %}" class="promo-button">My Replays</a>
					<a href="{% url 'account_edit' %}" class="promo-button-outline">
						<img src="{% static 'web/images/bnet.png' %}"/>
						<span>{{ user.username }}</span>
					</a>
				</p>
				<p>
					<a href="{% setting 'HDT_DOWNLOAD_URL' %}" class="promo-link">Download Hearthstone Deck Tracker</a>
				</p>
			{% else %}
				<p><a href="{% provider_login_url 'battlenet' %}" class="promo-button hero-button">Sign in</a></p>
				<p class="promo-help">You don't need a new account&mdash;we'll simply use <img src="{% static 'web/images/bnet.png' %}"/> Battle.net.</p>
				{% if debug %}
					<a href="{% url 'account_login' %}">(DEBUG) Log in with password</a>
				{% endif %}
			{% endif %}
		</div>
	</header>

	<article>
		<div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                    <header class="text-center">
                        <h2>All your replays in one place</h2>
                        <p>
                            Try out our super slick Hearthstone replayer:
                        </p>
                    </header>
                    <a href="{% static 'web/images/joust-screenshot.jpg' %}">
                        <img src="{% static 'web/images/joust-screenshot.jpg' %}" id="feat-joust-screenshot" alt="Joust: View your HSReplays"/>
                    </a>
                </div>
            </div>
        </div>
    </article>

    <article class="promo">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                    <figure class="front-feature">
                        <img src="{% static 'web/images/front-feat-history.jpg' %}" alt="Match history" height="120" width="190" />
                        <figcaption>
                            <h2>Share your craziest moments</h2>
                            <p>
                                Your games are live on the site as soon as they finish.
                                Find your best play and easily link it to all your friends.
                            </p>
                        </figcaption>
                    </figure>

                    <figure class="front-feature flip">
                        <img src="{% static 'web/images/front-feat-stats.jpg' %}" alt="Monthly statistics" height="120" width="190" />
                        <figcaption>
                            <h2>Analyze your gameplay</h2>
                            <p>
                                A clear game history, filterable per season, game type and more.
                                Follow your progress to legend with wins and losses visible at a glance.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
		</div>
	</article>

	<article>
		<div class="container">
			<h2 class="text-center">How it works:</h2>
			<ul class="row home-steps">
				<li class="col-sm-6">
					<h3>Step 1</h3>
					<p><a href="{% setting 'HDT_DOWNLOAD_URL' %}" class="promo-button">Download HDT</a></p>
					<p>Hearthstone Deck Tracker runs while you're in Hearthstone.<br />
					It will automatically upload your matches as you play them.</p>
				</li>
				<li class="col-sm-6">
					<h3>Step 2</h3>
					<p><a href="https://battle.net/account/download/?show=hearthstone&style=hearthstone" class="promo-button-outline text-uppercase">Play Hearthstone</a></p>
					<p>Your full match history will always stay private.<br />
					Share individual games with your friends and show off your craziest plays!</p>
				</li>
			</ul>
		</div>
	</article>

	<article class="text-center promo">
		{% if user.is_authenticated %}
			<h2>You're all set!</h2>
			<p class="front-pad"><a href="{% url 'my_replays' %}" class="promo-button hero-button">View your replays</a></p>
		{% else %}
			<h2>Let's go!</h2>
			<p class="front-pad"><a href="{% provider_login_url 'battlenet' %}" class="promo-button hero-button">Sign in</a></p>
		{% endif %}
	</article>

	<footer>
		<p class="visible-xs text-center"><a href="#">&uparrow; Back to top</a></p>
	</footer>
</div>
{% endblock content %}
