html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
	color: white;
	background: #c9485b;
}

::-moz-selection {
	color: white;
	background: #c9485b;
}

body {
	background-color: #fbf7f6;
}

.full_height {
	height: 100%;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
}

#content {
	min-height: 500px;
}

#tabletop {
	height: calc(100% - 100px);
	margin: 1em 0;
}

#navbar-logo {
	padding: 8px;
	height: 50px;
	width: 40px;
}

header nav {
	background-color: #1d3657;
	border-bottom: 1px solid #1d3657;
	height: 50px;
}

header nav ul {
	list-style-type: none;
	margin: 0;
}

header nav ul li a {
	padding: 1em;
}

header nav ul.left {
	float: left;
}

header nav ul.right {
	float: right;
}

header nav a {
	color: #ccc;
	float: left;
}
header nav a:hover, header nav a:focus {
	color: white;
	text-decoration: none;
}

header nav h1 {
	display: inline;
	vertical-align: middle;
	font-size: 1.5em;
	text-shadow: 1px 1px black;
}

.site-footer {
	clear: both;
	color: #aaa;
	font-size: x-small;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;
}

.site-footer p {
	margin: 0;
}

.site-footer a {
	color: #aaa;
}

.site-footer abbr[title] {
	border-bottom: none;
}

/* Generic pages (eg. account, flatpages) */

.page {
	padding: 0 3em;
	max-width: 950px;
	margin: 0 auto;
}

.page section {
	margin-bottom: 2.5em;
}

#flatpage-content {
	margin: 0 auto;
}

#flatpage-header {
	color: #333;
	text-align: center;
	font-size: 3em;
	padding: 1em;
}


/* Elements */

.promo-button, .promo-button:visited, .promo-button-outline, .promo-button-outline:visited {
	display: inline-block;
	font-weight: bold;
	padding: 7px 30px;
	line-height: 2em;
	font-size: 1.2em;
	text-decoration: none;
	border: solid 1px #c9485b;
	color: white;
	background-color: #c9485b;
}

.promo-button {
	text-transform: uppercase;
}

.promo-button:hover, .promo-button:active {
	color: #c9485b;
	background-color: white;
	text-decoration: none;
	border-color: #c9485b;
}


.promo-button-outline, .promo-button-outline:visited {
	background-color: transparent;
	color: #c9485b;
}

.promo-button-outline:hover, .promo-button-outline:active{
	text-decoration: none;
	color: #c9485b;
}

.promo-button img, .promo-button-outline img {
	vertical-align: text-bottom;
}

.promo-button.hero-button {
	padding-left: 45px;
	padding-right: 45px;
}

.promo-link, .promo-help {
	font-size: 1.2em;
}

.promo-link, .promo-link:visited {
	text-decoration: underline;
	color: white;
}

.promo-link:hover, .promo-link:active {
	color: #c9485b;
}

#site-messages:not(:empty) {
	background-color: #4677B7;
	border: 1px solid #1D3657;
	color: white;
	list-style: none;
	margin: 1em auto;
	padding: 1em;
	text-align: center;
	width: 300px;
}

/* Status message for uploads in progress */
.upload-status-message {
	background-color: #3A79A0;
	color: white;
	font-size: 1.8em;
	margin-top: 10%;
	padding: 3em;
	text-align: center;
}
