#promo {
	background: #1d3657;
	color: white;
	padding: 60px 0 40px 0;
	text-align: center;
	margin-bottom: 40px;
}

#promo h1 {
	font-size: 3em;
	font-weight: bold;
}

#promo .tagline {
	font-size: 2em;
	margin: 15px 0 40px 0;
}

#promo p {
	margin: 15px 0;
	padding: 0;
}

#promo .promo-button, #promo .promo-button:visited {
	background-color: white;
	color: #c9485b;
	border-color: white;
}

#promo .promo-button-outline, #promo .promo-button-outline:visited {
	color: white;
	border-color: white;
}

#promo .promo-button:hover, #promo .promo-button:active {
	color: white;
	background-color: #c9485b;
	border-color: #c9485b;
}

#promo .promo-button-outline:hover, #promo .promo-button-outline:active {
	border-color: #c9485b;
	color: #c9485b;
}

#logo {
	width: 121px;
	height: 152px;
}

header h2 {
	font-weight: bold;
}

#front-features {
	max-width: 640px;
	margin: 0 auto;
}

#feat-joust-screenshot {
	width: 100%;
	margin: 1em 0;
}

.front-feature {
	clear: both;
}

.front-feature + .front-feature {
	padding-top: 2em;
}

.front-feature h2 {
	font-size: 1.5em;
}

.front-feature > figcaption p {
	color: #555;
}

.front-feature > img{
	float: left;
	padding-right: 1em;
}

.front-feature.flip > img {
	float: right;
	padding-right: 0;
	padding-left: 1em;
}

#how-it-works {
	clear: both;
	margin-top: 4em;
	text-align: center;
}

#how-it-works p {
	font-size: small;
}

#how-it-works img {
	height: 80px;
	width: 120px;
}

#how-it-works-step1 {
	float: left;
	width: 50%;
}

#how-it-works-step2 {
	float: right;
	width: 50%;
}

article + article {
	padding: 2em;
	margin: 2em 0;
}

ul.home-steps {
	list-style-type: none;
	padding-left: 0;
	margin: 2em 0;
}

ul.home-steps > li {
	border-right: solid 1px transparent;
	text-align: center;
}

@media (max-width: 767px) {
	ul.home-steps > li {
		padding-bottom: 2em;
		margin-bottom: 2em;
		border-bottom: solid 1px black;
	}

	ul.home-steps > li:last-child {
		margin-bottom: 1em;
		border-bottom-color: transparent;
	}
}

@media (min-width: 768px) {
	ul.home-steps > li {
		border-right-color: black;
	}

}

ul.home-steps li h3 {
	margin: 10px 0 30px 0;
}

ul.home-steps li:last-child {
	border-right: none;
}

ul.home-steps .promo-button {
	text-align: center;
}

.promo {
	background-color: #ebebeb;
	color: black;
}

.front-pad {
	margin: 2em 0;
}

#promo .promo-hint {
	color: #ddd;
}

#joust-lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

#joust-promo-container {
	width: 80%;
	height: 80%;
	margin: 5% auto;
}