{% extends "account/base.html" %}

{% block content %}

<p style="font-weight: bold;">This page is not functional yet.</p>

<h3>Leaving so soon?</h3>

<p>
	Problems with the site? Something you're not happy about?
	Maybe we can fix it. <a href="mailto:help@hsreplay.net">Shoot us an email</a>!
</p>

<p>
	Once your data is gone, it's irreversible. Are you sure?
	<form action="#">
		<label><input type="checkbox"/>I understand. Delete my account.</label>
		<input type="submit"/>
	</form>
</p>
{% endblock %}
