{% extends "account/base.html" %}

{% block content %}

	<p><strong>This page is not functional yet.</strong></p>

	<h1>Leaving so soon?</h1>

	<p>
		Problems with the site? Something you're not happy about?
		Maybe we can fix it. <a href="mailto:help@hsreplay.net">Shoot us an email</a>!
	</p>

	<p>
		Once your data is gone, it's irreversible. Are you sure?
	<form action="#" method="Post">
		<div class="checkbox">
			<label>
				<input type="checkbox" required disabled/> <strong>I understand. Delete my account.</strong>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" disabled/> Also delete my replay data
			</label>
		</div>
		<div class="form-group">
			<input type="submit" value="Confirm" disabled/>
		</div>
	</form>
	</p>
{% endblock %}
