{% load static from staticfiles %}

<div class="row">
    <div class="col-xs-12">
        <p>Select an appropriate client for your operating system:</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <dl class="dl-horizontal">
          <dt>Windows:</dt>
          <dd><a href="https://github.com/Epix37/Hearthstone-Deck-Tracker/releases/latest">Hearthstone Deck Tracker</a></dd>
          <dt>OS X:</dt>
          <dd>HSReplay.net OSX Upload Agent <em>(coming soon)</em></dd>
        </dl>
    </div>
</div>


