{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">

    <div class="jumbotron homepage">
        <h1>Welcome to HSReplay.net</h1>
        <p>HSReplay.net allows players to watch and share Hearthstone Replays.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="https://github.com/Epix37/Hearthstone-Deck-Tracker/releases/latest" role="button">
              Download the Hearthstone Deck Tracker!
          </a>
        </p>
    </div>


</div>

{% endblock content %}

