
{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <p>To experiment with uploading raw log files, try pasting the log of your match into the below form and include
                as much optional data as you have available.</p>
            <form action="" method="post" role="form" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for="log" class="col-sm-2 control-label">Log:</label>
                    <div class="col-sm-10">
                        {% if form.log.value %}
                            <textarea id="log" class="form-control" rows="5" cols="100" name="log">{{ form.log.value }}</textarea>
                        {% else %}
                            <textarea id="log" class="form-control" rows="5" cols="100" name="log"></textarea>
                        {% endif %}
                    </div>
                </div>
            <!--
                <div class="form-group">
                    <label for="id_email" class="col-sm-2 control-label">Email (required):</label>
                    <div class="col-sm-6">
                        {% if form.email.value %}
                            <input id="id_email" class="form-control" maxlength="250" name="email" type="text" value="{{ form.email.value }}" />
                        {% else %}
                            <input id="id_email" class="form-control" maxlength="250" name="email" type="text" />
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_website" class="col-sm-2 control-label">Website:</label>
                    <div class="col-sm-6">
                        {% if form.website.value %}
                            <input id="id_website" class="form-control" maxlength="250" name="website" type="text" value="{{ form.website.value }}" />
                        {% else %}
                            <input id="id_website" class="form-control" maxlength="250" name="website" type="text" />
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_api_key" class="col-sm-2 control-label">API Key:</label>
                    <div class="col-sm-6">
                        {% if form.api_key.value %}
                            <input readonly id="id_api_key" class="form-control" maxlength="250" name="api_key" type="text" value="{{ form.api_key.value }}" />
                        {% else %}
                            <input readonly id="id_api_key" class="form-control" maxlength="250" name="api_key" type="text" />
                        {% endif %}
                    </div>
                </div>
                -->

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button class="btn btn-primary btn-lg" type="submit">Upload</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_replay" class="col-sm-2 control-label">Replay:</label>
                    <div class="col-sm-10">
                        {% if form.replay.value %}
                            <textarea readonly id="id_replay" class="form-control" rows="10" cols="100" name="replay">{{ form.replay.value }}</textarea>

                        {% else %}
                            <textarea readonly id="id_replay" class="form-control" rows="30" cols="100" name="replay"></textarea>

                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}