{% extends "base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
	{{ block.super }}
	<link href="{% static 'web/flatpages.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content %}
<article id="flatpage">
	<header id="flatpage-header">
		<h2 id="flatpage-title">{{ flatpage.title }}</h2>
	</header>

	<section id="flatpage-content">
		{% if user.is_superuser %}
			<p><a href="{% url 'admin:flatpages_flatpage_change' flatpage.id %}">Edit this page</a></p>
		{% endif %}
		{{ flatpage.content }}
	</section>
</article>
{% endblock content %}
