html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
	color: white;
	background: #c9485b;
}

::-moz-selection {
	color: white;
	background: #c9485b;
}

body {
	background-color: #fbf7f6;
}

.full_height {
	height: 100%;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
}

#content {
	min-height: 500px;
}

#tabletop {
	height: calc(100% - 100px);
}

#navbar-logo {
	padding: 8px;
	height: 50px;
	width: 40px;
}

header nav {
	background-color: #1d3657;
	border-bottom: 1px solid #1d3657;
	height: 50px;
}

header nav ul {
	list-style-type: none;
	margin: 0;
}

header nav ul li a {
	padding: 1em;
}

header nav ul.left {
	float: left;
}

header nav ul.right {
	float: right;
}

header nav a {
	color: #ccc;
	float: left;
}
header nav a:hover, header nav a:focus {
	color: white;
	text-decoration: none;
}

header nav h1 {
	display: inline;
	vertical-align: middle;
	font-size: 1.5em;
	text-shadow: 1px 1px black;
}

footer {
	clear: both;
	color: #aaa;
	font-size: x-small;
	padding-top: 3em;
	padding-bottom: 2em;
	text-align: center;
}

footer p {
	margin: 0;
}

footer a {
	color: #aaa;
}


/* Generic pages (eg. account, flatpages) */

.page {
	padding: 0 3em;
	max-width: 950px;
	margin: 0 auto;
}

.page section {
	margin-bottom: 2.5em;
}

#flatpage-content {
	margin: 0 auto;
}

#flatpage-header {
	color: #333;
	text-align: center;
	font-size: 3em;
	padding: 1em;
}
