/*
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}
*/

#tabletop {
    background:url("images/STW_Table2.jpg") no-repeat center center;
    height: 600px;
    background-size:100% auto;
}
