html, body {
	margin: 0;
	padding: 0;
}

#promo {
	background: #1d3657;
	color: white;
	padding: 60px 0 40px 0;
	text-align: center;
	margin-bottom: 40px;
}

#promo h1 {
	font-size: 3em;
	font-weight: bold;
}

#promo h2 {
	font-size: 2em;
	margin: 20px 0 40px 0;
}

#promo p {
	margin: 15px 0;
	padding: 0;
}

.promo-button, .promo-button:visited, .promo-button-outline, .promo-button-outline:visited {
	display: inline-block;
	font-weight: bold;
	padding: 7px 30px;
	line-height: 2em;
	font-size: 1.2em;
	text-decoration: none;
	border: solid 1px white;
}

.promo-button-outline, .promo-button-outline:visited {
	color: white;
}

.promo-button, .promo-button:visited {
	color: #c9485b;
	text-transform: uppercase;
	background-color: white;
}

.promo-button img, .promo-button-outline img {
	vertical-align: text-bottom;
}

.promo-button:hover, .promo-button:active {
	color: white;
	text-decoration: none;
	background-color: #c9485b;
	border-color: #c9485b;
}

.promo-button-outline:hover, .promo-button-outline:active {
	color: #c9485b;;
	border-color: #c9485b;
	text-decoration: none;
}

.promo-button.hero-button {
	padding-left: 45px;
	padding-right: 45px;
}

.promo-link, .promo-help {
	font-size: 1.2em;
}

.promo-link, .promo-link:visited {
	text-decoration: underline;
	color: white;
}

.promo-link:hover, .promo-link:active {
	color: #c9485b;
}

#logo {
	width: 121px;
	height: 152px;
}

#front-features {
	max-width: 640px;
	margin: 0 auto;
}

#feat-joust-screenshot {
	height: 280px;
	width: 500px;
}

#front-features p {
	color: #555;
}

#front-intro {
	text-align: center;
}

.front-feat-screenshot {
	height: 120px;
	width: 190px;
}

#front-feat1 {
	margin-top: 3em;
}

#front-feat1 .front-feat-screenshot {
	float: left;
	padding-right: 1em;
}

#front-feat2 {
	clear: left;
	margin-top: 4em;
}

#front-feat2 .front-feat-screenshot {
	float: right;
}

#how-it-works {
	clear: both;
	margin-top: 4em;
	text-align: center;
}

#how-it-works p {
	font-size: small;
}

#how-it-works img {
	height: 80px;
	width: 120px;
}

#how-it-works-step1 {
	float: left;
	width: 50%;
}

#how-it-works-step2 {
	float: right;
	width: 50%;
}

footer {
	clear: both;
	color: #aaa;
	font-size: x-small;
	padding-top: 3em;
	text-align: center;
}

footer a {
	color: #aaa;
}